<div *ngIf="!isFinished">
    <div class="loader-marger" fxLayoutAlign="center center" *ngIf="!proposedQuizz">
        <app-loader-item></app-loader-item>
    </div>
    <div *ngIf="proposedQuizz">
        <p class="answered-questions-font">Question : {{ actualIndex }}/{{ proposedQuizz.length }}</p>
        <p class="answered-questions-font" *ngIf="actualIndex > 0">Score : {{ score }}/{{ actualIndex }}</p>
        <app-question-displayer-item [questionInformation]="questionInformation" (answer)="isContinue({answer: $event})">
        </app-question-displayer-item>
    </div>
</div>
<div *ngIf="isFinished" class="width-height">
    <div fxLayoutAlign="center center">
        <mat-card class="card-marger-result">
            <h1 fxLayoutAlign="center center">Tu as fini le questionnaire !</h1>
            <h2 fxLayoutAlign="center center">Ton score est de :&nbsp;<strong>{{ score }}/{{ proposedQuizz.length }}</strong></h2>
            <p fxLayoutAlign="center center">{{ endSentence }}</p>
            <div fxLayoutAlign="center center">
                <button mat-raised-button color="primary" onClick="window.location.reload();">Nouvelle tentative</button>
            </div>
        </mat-card>
    </div>
    <div fxLayoutAlign="center center" *ngFor="let question of proposedQuizz; let indexOfAnswer = index">
        <mat-card class="card-marger">
            <div *ngIf="question.situationImage?.length > 0" fxLayoutAlign="center">
                <img class="img-formatter" src="{{ url }}{{ question.situationImage }}" alt="" />
            </div>
            <div *ngIf="question.videoUrl?.length > 0" fxLayoutAlign="center">
                <youtube-player class="img-formatter" videoId="{{ question.videoUrl }}"></youtube-player>        
            </div>
            <div *ngIf="question.situationRecord?.length > 0" fxLayoutAlign="center">
                <mat-basic-audio-player audioUrl="{{ url }}{{ question.situationRecord }}" [autoPlay]="true"></mat-basic-audio-player>
            </div>
            <div fxLayoutAlign="center center">
                <h2 class="correct" *ngIf="resultQuizz[indexOfAnswer].isCorrect">{{ question.question }}</h2>
                <h2 class="incorrect" *ngIf="!resultQuizz[indexOfAnswer].isCorrect">{{ question.question }}</h2>
            </div>
            <div fxLayoutAlign="center center" *ngFor="let possibleAnswer of question.possibleAnswers">
                <p *ngIf="possibleAnswer.isCorrect"><strong>La bonne réponse est :&nbsp;</strong>{{ possibleAnswer.response }}</p>
            </div>
            <div fxLayoutAlign="center center">
                <p *ngIf="question.explication?.length > 0"><strong>Pour information :&nbsp;</strong>{{ question.explication }}</p>
            </div>
            <div fxLayoutAlign="center center">
                <p class="correct" fxLayoutAlign="center center" *ngIf="resultQuizz[indexOfAnswer].isCorrect"><strong>Tu as répondu :&nbsp;</strong>{{ resultQuizz[indexOfAnswer].response }}</p>
                <p class="incorrect" fxLayoutAlign="center center" *ngIf="!resultQuizz[indexOfAnswer].isCorrect"><strong>Tu as répondu :&nbsp;</strong>{{ resultQuizz[indexOfAnswer].response }}</p>
            </div>
        </mat-card>
    </div>
</div>