.answered-questions-font {
    font-size: x-large;
    margin-top: 1rem;
    margin-left: 1rem;
}

.loader-marger {
    margin: 1rem;
}

.card-marger-result {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
}

.card-marger {
    margin-bottom: 1rem;
    width: 90%;
}

.width-height {
    height: 100%;
    width: 100%;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

@media only screen and (max-device-width : 640px) {
    .img-formatter {
        height: 95%;
        width: 95%;
    }
}

@media only screen and (min-device-width : 640px) {
    .img-formatter {
        width: 40%;
        height: 50%;
    }
}