<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <a href="" class="center">
                <img class="center logo-formatter" src="https://raw.githubusercontent.com/Luc-AUCOIN/sgdf-nature-environment-api/develop/img/SGDF_symbole_RVB.png"
                    alt="Scouts et Guides de France" />
            </a>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['']">Accueil</a>
            <a mat-list-item [routerLink]="['e-learning']">E-Learning</a>
            <a mat-list-item [routerLink]="['wiki']">Wiki</a>
            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Quizz
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <a mat-list-item [routerLink]="['/quizz']" [queryParams]="{ categorie: 'carte' }">Carte</a>
                    <a mat-list-item [routerLink]="['/quizz']" [queryParams]="{ categorie: 'dfci' }">DFCI</a>
                    <a mat-list-item [routerLink]="['/quizz']" [queryParams]="{ categorie: 'environnement-mediterranee' }">Environnement en Méditerranée</a>
                    <a mat-list-item [routerLink]="['/quizz']" [queryParams]="{ categorie: 'radio' }">Radio</a>
                  </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{ titleService.getTitle() }}</span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>