.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.logo-formatter {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
  vertical-align: middle;
}