<div>
    <div class="iframe-container" fxLayoutAlign="center center" *ngIf='!isLoaded'>
        <app-loader-item></app-loader-item>
    </div>
    <iframe class="iframe-container" [src]="urlSafe" (load)="loadEvent()" allowfullscreen></iframe>
</div>