<div class="loader-marger" fxLayoutAlign="center center" *ngIf="!questionInformation">
    <app-loader-item></app-loader-item>
</div>
<div *ngIf="questionInformation">
    <div *ngIf="questionInformation.situationImage?.length > 0" fxLayoutAlign="center">
        <img class="img-formatter" src="{{ url }}{{ questionInformation.situationImage }}" (click)="openDialog()" alt="" />
    </div>
    <div *ngIf="questionInformation.videoUrl?.length > 0" fxLayoutAlign="center">
        <youtube-player class="img-formatter" videoId="{{ questionInformation.videoUrl }}"></youtube-player>        
    </div>
    <div *ngIf="questionInformation.situationRecord?.length > 0" fxLayoutAlign="center">
        <mat-basic-audio-player audioUrl="{{ url }}{{ questionInformation.situationRecord }}" [autoPlay]="true"></mat-basic-audio-player>
    </div>
    <div class="row" fxLayoutAlign="center">
        <h3 class="question" fxLayoutAlign="center center">{{ questionInformation.question }}</h3>
    </div>
    <div>
        <div class="row" *ngFor="let answer of questionInformation.possibleAnswers; let indexOfAnswer = index">
            <div class="col-2"></div>
            <div class="col-8 button-margin background" (click)="verify(answer)">
                <p class="button-width" fxLayoutAlign="center">{{ indexOfAnswer + 1 }}.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ answer.response }}</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>