.button-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-width {
    width: 100%;
}

.background {
    background-color: #003a5d;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.text-color {
    color: white;
}

.question {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-device-width : 640px) {
    .img-formatter {
        height: 95%;
        width: 95%;
    }
}

@media only screen and (min-device-width : 640px) {
    .img-formatter {
        width: 40%;
        height: 50%;
    }

    .background:hover {
        background-color: white;
        border-radius: 2rem;
        border: solid 3px #003a5d;
        color: #003a5d;
        cursor: pointer;
    }
}