.margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-formatter {
    padding-bottom: 2.5rem;
    width: 95%;
    height: 95%;
}

.path-formatter {
    padding-top: 2.5rem;
    width: 100%;
    height: 100%;
}

.iframe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0px;
}

@media only screen and (max-device-width : 640px) {
    .blason-formatter {
        padding-bottom: 2.5rem;
        width: 50%;
        height: 50%;
    }
}

@media only screen and (min-device-width : 640px) {
    .blason-formatter {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        width: 20%;
        height: 20%;
    }
}