<div class="container">
    <mat-card class="margin">
        <div fxLayoutAlign="center">
            <img class="logo-formatter" src="{{ logoPath }}" alt="Scouts et Guides de France | Nature Envrionnement" />
        </div>
        <div>
            <p class="text-justify">Les <strong>Scouts et Guides de France</strong> sont un mouvement catholique de jeunesse qui a pour but de contribuer à l’éducation des enfants et des jeunes et à leur engagement dans la vie sociale selon les buts, les principes et les méthodes du scoutisme.
                Le mouvement est ouvert à tous sans distinction de nationalité, de culture, d’origine sociale ou de croyance.</p>
            <p class="text-justify"><strong>Nature-Environnement</strong>  est une proposition des Scouts et Guides de France qui propose à des jeunes, dès 14 ans, de participer à des actions de Protection de la Forêt et d’éducation à l’environnement.</p>
            <p class="text-justify"><strong>Un projet au service de la forêt</strong></p>
            <ul>
                <li class="text-justify">En été, près de 1 000 jeunes ayant la volonté d’exercer bénévolement une activité de protection de la forêt méditerranéenne contre les incendies participent aux camps organisés.</li>
                <li class="text-justify">Au printemps ou à l’automne, de nombreux jeunes scouts et guides du sud de la France participent à des actions de restauration, de débroussaillage et de nettoyage d’espaces naturels sinistrés.</li>
            </ul>
            <p class="text-justify"><strong>Des enjeux éducatifs forts</strong></p>
            <p class="text-justify">Fidèles au projet éducatif des Scouts et Guides de France et aux orientations de l’association, les activités de Nature-Environnement sont construites autour de 3 enjeux éducatifs : vivre des temps de scoutisme, de rencontre et de service</p>
            <p class="text-justify">Pour plus d'information veuillez consulter le <a target="_blank" href="{{ site }}">site nature Nature-Environnement</a></p>
        </div>
        <div fxLayoutAlign="center">
            <img class="blason-formatter" src="{{ blasonPath }}" alt="" />
        </div>
        <div>
            <p class="text-justify">Pour aller directement à la formation du E-Learning rendez-vous <a target="_blank" href="{{ elearning }}">ici</a></p>
            <p class="text-justify">Pour aller directement au wiki rendez-vous <a target="_blank" href="{{ wiki }}">ici</a></p>
        </div>
        <div fxLayoutAlign="center">
            <img class="path-formatter" src="{{ pathPath }}" alt="" />
        </div>
    </mat-card>
</div>
